/* CUSTOM CHAT SETTINGS */

.chat-settings-options {
    background-color: var(--app-bg-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72px;
    padding: 20px;
    border-left: 1px solid rgb(175, 175, 175);
    border-bottom: 1px solid rgb(175, 175, 175);
}
    
.theme-github-user-container{
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.logout-button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px;
}
  
.logout-button {
    color: var(--logout-color);
    height: 42px;
    width: 100%;
    cursor: pointer;
    border-radius: 6px !important;
    border: 1px solid red !important;
}

.logout-button:hover {
    color: white;
    background-color: var(--logout-color);
}

.settings-button {
    cursor: pointer;
    font-size: var(--settings-icons-font) !important;
    color: var(--icons-color) !important;
}