@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');

@import "chatFeed.scss";
@import "chatSettings.scss";
@import "forms.scss";
@import "login.scss";

:root {
  --margin-top: 20px;
  --active-hover: #3b2a50;
  --active-chat-color: #cabcdc;
  --app-bg-color: rgb(240, 240, 240);
  --bg-input: rgb(240, 240, 240);
  --chat-subtitle-text: #595959;
  --facebook-gradient: linear-gradient(to right, #0A2C6B,  #0D3D8C, #256BBE, #FFFFFF);
  --form-icon-font: 30px;
  --form-icon-color: #7554a0;
  --form-icon-hover-color: #3b2a50;
  --google-gradient: linear-gradient(to right, #4285F4, #EA4335, #FBBC05, #34A853);
  --icons-color: rgb(117,84,160);
  --login-button-text: white;
  --logout-color: red;
  --msg-input-border: 1px solid #3b2a50;
  --options-text-color: #000000;
  --own-msg-color: #7554a0;
  --own-msg-text-color: rgba(255, 255, 255, 0.877);
  --settings-icons-font: 30px;
  --settings-icons-color: rgb(117,84,160);
  --subtitle-color: #7554a0;
  --their-msg-color: #FFFFFF;
  --their-msg-text-color: rgba(255, 255, 255, 0.705);
  --title-color: #7554a0;
}

.dark {
  --margin-top: 20px;
  --active-hover: #3b2a50;
  --active-chat-color: #726dfe;
  --app-bg-color: #404757;
  --bg-input: #4e5566;
  --chat-subtitle-text: #9c9c9c;
  --facebook-gradient: linear-gradient(to right, #0A2C6B,  #0D3D8C, #256BBE, #FFFFFF);
  --form-icon-color: #726dfe;
  --form-icon-font: 30px;
  --form-icon-hover-color: #7554a0;
  --google-gradient: linear-gradient(to right, #0A2C6B,  #0D3D8C, #256BBE, #FFFFFF);
  --icons-color: #726dfe; // look into this
  --login-button-text: white;
  --logout-color: red;
  --msg-input-border: none;
  --options-text-color: rgba(255, 255, 255, 0.925);
  --own-msg-color: #726dfe;
  --own-msg-text-color:rgba(255, 255, 255, 0.877);
  --settings-icons-font: 30px;
  --settings-icons-color: rgba(255, 255, 255, 0.925);
  --subtitle-color: rgba(255, 255, 255, 0.925);
  --their-msg-color: #535a6d;
  --their-msg-text-color: #202020b6;
  --title-color: rgba(255, 255, 255, 0.925);
}

/* CHAT STYLES */
* {
  font-family: 'Playpen Sans', cursive;
  letter-spacing: 0.5px;
}

.ce-chat-list {
  background-color: var(--app-bg-color) !important;
}

.ce-chats-container {
  background-color: var(--app-bg-color) !important;
}

.ce-active-chat-card {
  background-color: var(--active-chat-color) !important;
  border: 4px solid var(--active-chat-color) !important;
  border-radius: 0px !important;
}

.ce-person-text {
  color: var(--options-text-color);
}

.ce-chat-title-text {
  color: var(--options-text-color);
}

.ce-chat-subtitle-text {
  color: var(--chat-subtitle-text) !important;
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  color: var(--options-text-color);
  background-color: var(--app-bg-color) !important;
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  color: var(--options-text-color);
  background-color: var(--bg-input) !important;
}

.ce-primary-button {
  border-radius: 6px !important;
  background-color: #7554a0 !important;
  position: relative;
  bottom: 1px;
}

.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: var(--app-bg-color) !important;
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: var(--bg-input) !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: var(--app-bg-color) !important;
}

.ce-chat-settings-container {
  padding-top: 12px !important;
}

.ce-chat-avatars-row {
  display: none !important;
}

.ce-custom-chat-settings-container {
  height: calc(100% - 72px);
  background-color: var(--app-bg-color) !important;
}

.ce-section-title-container, #ce-options-drop-down {
  color: var(--options-text-color);
  background-color: var(--app-bg-color) !important;
}

#new-chat-plus-button {
  background-color: var(--own-msg-color) !important;
}
