.social-logins-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.google-button {
    color: var(--login-button-text);
    cursor: pointer;
    font-size: 1.2rem;
        margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.3rem solid transparent;
    outline: none;
    margin-bottom: 25px;
    transition: color 0.3s ease;
}

.google-button:hover {
    background-image: var(--google-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.google-button:hover .google-icon {
    color: var(--login-button-text);
}

.facebook-button {
    color: var(--login-button-text);
    cursor: pointer;
    font-size: 1.2rem;
        margin: 0 auto;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.3rem solid transparent;
    outline: none;
    margin-bottom: 25px;
    transition: color 0.3s ease;
}

.facebook-button:hover {
    background-image: var(--facebook-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.facebook-button:hover .facebook-icon {
    color: var(--login-button-text);
}

.error {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: transparent;
    background: linear-gradient(90deg, red, white);
    background-clip: text;
    -webkit-background-clip: text;
}