.social-logins-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.google-button {
color: white;
font-size: 1.2rem;
    margin: 0 auto;
padding: 1.5rem 2rem;
border-radius: 0.2rem;
background-color: transparent;
border: none;
border-bottom: 0.3rem solid transparent;
transition: all 0.3s;
outline: none;
margin-bottom: 25px;
}

.facebook-button {
color: white;
font-size: 1.2rem;
    margin: 0 auto;
padding: 1.5rem 2rem;
border-radius: 0.2rem;
background-color: transparent;
border: none;
border-bottom: 0.3rem solid transparent;
transition: all 0.3s;
outline: none;
margin-bottom: 25px;
}

.error {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: transparent;
    background: linear-gradient(90deg, red, white);
    background-clip: text;
    -webkit-background-clip: text;
}